Package: dns-wan-transport
Version: 1.0.0-13
Description: Bridge between local DNS and Keenetic WAN Failover. Pure RCI HTTP engine.
Section: net
Priority: optional
Maintainer: Sereja Ishkin
Architecture: all
Depends: entware-release
