Package: dns-wan-transport
Version: 1.0.0-12
Description: Bridge between local DNS and Keenetic WAN Failover. Cloud Go 1.21 toolchain fix.
Section: net
Priority: optional
Maintainer: Sereja Ishkin
Architecture: all
Depends: entware-release
